<% if flash.present? %>
  <% flash.each do |flash_type, message| %>
    <div data-controller="notification" class="flash relative transition-opacity ease-out duration-300">
      <div class="fixed text-center py-4 lg:px-4 z-50 m-auto left-0 right-0 top-0 bg-red">
        <div class="inline-flex items-center p-2 <%= flash_type == 'alert' ? 'bg-red-500' : 'bg-indigo-600' %> text-white text-left leading-none rounded-full shadow">
          <span class="flex-auto px-4 py-2">
            <%= message %>
          </span>
        </div>
      </div>
    </div>
  <% end %>
<% end %>