<header class="flex text-center justify-center w-full pt-5 space-x-4">
  <%= link_to root_url do %>
    <%= image_tag "https://naamani.s3.ca-central-1.amazonaws.com/photos/0K9A2863Lo.jpg",
                  class: "h-20 w-20 my-4 m-auto rounded-full",
                  alt: "Adam Naamani portrait" %>
    <h1 class="text-sm font-light uppercase tracking-wider text-slate-500 dark:text-white"><%= t('name') %></h1>
  <% end %>
</header>