I am a real estate specialist with eXp Realty, tech entrepreneur, programmer, and martial artist. Avid traveller, snowboarder, runner and climber. Lebanese & Singaporean heritage, born in Edmonton and raised in the Pacific Northwest.

Real Estate
After attaining a diploma in Urban Land Economics and a Bachelor of Business in Real Estate at the University of British Columbia, I worked as a residential real estate appraiser completing over $1.6 billion in volume throughout Greater Vancouver. Before that, I forayed into fix ‘n flips, land acquisition, and construction finishing. I’m a licensed REALTOR® with eXp Realty—the most agent-centric real estate brokerage on the planet.

Continuing Education:
Accredited Real Estate Negotiator
RENI Certified Negotiation Expert
REBGV Contract Wrap-up
REBGV Mortgage Market Update
REBGV Understanding the June 1 FINTRAC Changes
REBGV Strata Issues with Tony Gioventu: Restrictive Bylaws
REBGV Winning at Multiple Offers
REBGV Representing Buyers in the Sale of New Homes and Condominiums
REBGV Navigating the Pre-Sale & New Home Sale Purchase
REBGV Foreclosures and Court-Ordered Sales

Tech Startups
I am happiest when pursuing Big Hairy Audacious Goals (BHAGs), and developed a passion for Proptech when I realized the antiquated and fragmented state of Canadian real estate technology. The genesis of my life’s work was a concept I prototyped and built at the Vancouver accelerator Launch Academy, where I formed the team and company.
Resider Inc. was federally incorporated in February 2013—the name originated from the desire to put the power of information into the homebuyer’s hands. It was a modern real estate search engine that remedied information asymmetry and provided consumers with more transparency.

Programming
After reading the Millionaire Fastlane, my curiosity led me to learn everything about web business. If you are in real estate long enough, you typically find your way into tech, as there is a slew of pain points across all facets. It was the right entry point to begin a journey of using technology to solve real-world problems. Building consumer-facing websites is one of the greatest joys—to make a meaningful impact by providing value at scale.
I taught myself how to code, starting with humble roots in PHP, to finding programmer happiness with Rails, modern front-ends with React, spatially-enabled databases like Postgres, and Python for statistical analysis. While there is a lot of risk and uncertainty in business, the knowledge and relationships that persist, and what you become in the process, are what I consider most important.
I keep a repository of my notes in a handbook on <a href="https://github.com">GitHub</a>.

Writing
Writing has been a constant in all of my endeavors, whether through outsourcing, digital marketing, or guest posting on urbanism and proptech publications. I write on this blog to share breakthroughs, learnings, experiments, travel, photography, and open-source software that benefits others through evergreen content—as a way to pay it forward.

Martial Arts
I began my martial arts journey in the traditional forms of Tae Kwon Do and Karate, which instilled discipline, respect, confidence, and integrity. I earned a black belt in Jeet Kune Do street self-defense in Bermuda, when my love for the arts really took hold—combining the different styles of Wing-Chun Kung Fu, Western Boxing, and Grappling. After I moved back to BC, I trained in Pankration, Jiu-Jitsu, Wrestling, and Muay Thai—competing in grappling and no-holds-barred tournaments in the bantamweight division.