<div class="my-5 max-w-lg m-auto">
  <p class="text-center text-gray-500 text-sm">Subscribe to get future posts via email.</p>
  <%= form_with scope: :subscriber, url: subscribers_path do |form| %>
    <%= turbo_frame_tag :email do %>
      <%= render "partials/email" %>
    <% end %>
  <% end %>
</div>