<div class="px-10 py-5">
  <div class="text-center text-gray-400">
    <p>Subscribe to get future posts via email.</p>
  </div>
  <form class="mt-5 flex items-center">
    <div class="w-full">
      <%= email_field "contact",
                      "email",
                      class: "block w-full rounded-l-full border-0 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 text-sm leading-6",
                      placeholder: "Type your email" %>
    </div>
    <%= button_tag "Submit", class: "btn w-auto inline-flex items-center justify-center !rounded-l-none" %>
  </form>
</div>