<div class="w-full mx-auto py-12">
  <span class="block text-center text-gray-500 text-sm">Subscribe to get future posts via email.</span>
  <%= form_with scope: :subscriber, url: subscribers_path do |form| %>
    <%= turbo_frame_tag :email do %>
      <%= render "partials/email" %>
    <% end %>
  <% end %>
</div>
