<main class="grid h-[calc(100vh-65px)] place-items-center bg-white px-6 py-24 sm:py-32 lg:px-8">
  <div class="text-center">
    <%= yield %>
    <div class="mt-10 flex items-center justify-center gap-x-6">
      <%= link_to "Go back home", root_url, class: "btn btn-primary" %>
      <%= link_to "mailto:#{t('email')}", class: "text-sm font-semibold text-gray-900" do %>
        Contact support <span aria-hidden="true">&rarr;</span>
      <% end %>
    </div>
  </div>
</main>