<%= render "errors/error" do %>
  <p class="text-base font-semibold text-indigo-600">422</p>
  <h1 class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl">Unprocessable Content</h1>
  <p class="mt-6 text-base leading-7 text-gray-600">Unable to process the contained instructions.</p>
<% end %>