<%= form_with model: @now,
              data: { controller: "form" },
              class: "hidden max-w-3xl m-auto" do |form| %>
  <div class="bg-white dark:bg-gray-700 shadow-xl">
    <div class="p-6 min-h-screen">
      <%= form.rich_text_area :content, data: { form_target: "content" } %>
    </div>
    <div class="w-full p-6 border-t dark:border-slate-600 space-x-1">
      <%= form.submit class: "btn" %>
      <%= form.button @now.published? ? "Draft" : "Publish",
                      type: :submit,
                      name: :status,
                      value: @now.published? ? :draft : :published,
                      data: { turbo_confirm: "Are you sure you want to #{@now.published? ? "draft" : "publish"} this now?" },
                      class: "btn" %>
    </div>
  </div>
<% end %>