<% if @posts.any? %>
  <h1 class="mb-2">Articles</h1>
  <div class="whitespace-nowrap text-ellipsis">
    <ul class="divide-y divide-gray-100 dark:divide-gray-700">
      <% @posts.each do |post| %>
        <%= render partial: "posts/preview", locals: { post: } %>
      <% end %>
    </ul>
  </div>
  <%= render "partials/pagination" %>
<% end %>
