<% if @posts.any? %>
  <section id="articles" class="space-y-6">
    <h2 class="section-title">
      <span class="mr-2">Articles</span>
      <div class="section-title-line"></div>
    </h2>
    <div class="article-card shadow-none">
      <ul class="divide-y divide-gray-100 dark:divide-gray-700">
        <% @posts.each do |post| %>
          <%= render partial: "posts/preview", locals: { post: } %>
        <% end %>
      </ul>
    </div>
    <%= render "partials/pagination" %>
  </section>
<% end %>
