<% if @posts.any? %>
  <h1 class="mb-6">Articles</h1>
  <div class="space-y-6">
    <% @posts.each do |post| %>
      <%= render partial: "posts/preview", locals: { post: } %>
    <% end %>
  </div>
  <%= render "partials/pagination" %>
<% end %>
