<h1>You have a new subscriber!</h1>
<p>A new subscriber has signed up with the email: <%= @subscriber.email %></p>
<p>Subscribed at: <%= @subscriber.created_at.strftime("%B %d, %Y at %I:%M %p") %></p>
