<%= render "partials/header" %>
<%= render "partials/container" do %>
  <h1>About</h1>
  <div class="space-y-10">
    <div>
      <p>I am a real estate specialist with eXp Realty, tech entrepreneur, programmer, and martial artist. Avid traveller, snowboarder, runner and climber. Lebanese & Singaporean heritage, born in Edmonton and raised in the Pacific Northwest.</p>
    </div>

    <div>
      Real Estate
      <p>After attaining my diploma in Urban Land Economics and Bachelor of Business in Real Estate at the University of British Columbia, I worked as a residential real estate appraiser completing over $1.6 billion in volume throughout Greater Vancouver. My experience extends to real estate investment, hospitality, and renovation. Driven by my passion for the intersection of real estate and technology, I founded and collaborated with Proptech startups before joining eXp Realty—the largest independent real estate brokerage on the planet.</p>
    </div>

    <div>
      Continuing Education:
      <p>Accredited Real Estate Negotiator</p>
      <p>RENI Certified Negotiation Expert</p>
      <p>REBGV Contract Wrap-up</p>
      <p>REBGV Mortgage Market Update</p>
      <p>REBGV Understanding the June 1 FINTRAC Changes</p>
      <p>REBGV Strata Issues with Tony Gioventu: Restrictive Bylaws</p>
      <p>REBGV Winning at Multiple Offers</p>
      <p>REBGV Representing Buyers in the Sale of New Homes and Condominiums</p>
      <p>REBGV Navigating the Pre-Sale & New Home Sale Purchase</p>
      <p>REBGV Foreclosures and Court-Ordered Sales</p>
    </div>

    <div>
      Tech Startups
      <p>I am happiest when pursuing Big Hairy Audacious Goals (BHAGs), and developed a passion for Proptech when I realized the antiquated and fragmented state of Canadian real estate technology. The genesis of my life’s work was a concept I prototyped and built at the Vancouver accelerator Launch Academy, where I formed the team and company.</p>
    </div>

    <div>
      <p>Resider Inc. was federally incorporated in February 2013—the name originated from the desire to put the power of information into the homebuyer’s hands. It was a modern real estate search engine that remedied information asymmetry and provided consumers with more transparency.</p>
    </div>

    <div>
      Programming
      <p>After reading the Millionaire Fastlane, my curiosity led me to learn everything about web business. If you are in real estate long enough, you typically find your way into tech, as there is a slew of pain points across all facets. It was the right entry point to begin a journey of using technology to solve real-world problems. Building consumer-facing websites is one of the greatest joys—to make a meaningful impact by providing value at scale.</p>
      <p>I taught myself how to code, starting with humble roots in PHP, to finding programmer happiness with Rails, modern front-ends with React, spatially-enabled databases like Postgres, and Python for statistical analysis. While there is a lot of risk and uncertainty in business, the knowledge and relationships that persist, and what you become in the process, are what I consider most important.
      I keep a repository of my notes in a handbook on <a href="https://github.com">GitHub</a>.</p>
    </div>

    <div>
      Writing
      <p>Writing has been a constant in all of my endeavors, whether through outsourcing, digital marketing, or guest posting on urbanism and proptech publications. I write on this blog to share breakthroughs, learnings, experiments, travel, photography, and open-source software that benefits others through evergreen content—as a way to pay it forward.</p>
    </div>

    <div>
      Martial Arts
      <p>I began my martial arts journey in the traditional forms of Tae Kwon Do and Karate, which instilled discipline, respect, confidence, and integrity. I earned a black belt in Jeet Kune Do street self-defense in Bermuda, when my love for the arts really took hold—combining the different styles of Wing-Chun Kung Fu, Western Boxing, and Grappling. After I moved back to BC, I trained in Pankration, Jiu-Jitsu, Wrestling, and Muay Thai—competing in grappling and no-holds-barred tournaments in the bantamweight division.</p>
    </div>
  </div>
<% end %>
