<% if local_assigns[:uploads]&.any? %>
  <% uploads.each do |upload| %>
    <div id="<%= dom_id(upload) %>" class="relative">
      <%= image_tag upload.image.url %>
      <% if user_signed_in? && current_user.admin? %>
        <%= link_to purge_attachment_uploads_path(id: upload.id),
                    data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this image?" },
                    class: "absolute bottom-2 right-2 text-transparent hover:text-red-400" do %>
          <%= render "svg/trash" %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>